.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
.DS_Store
.idea/
.metadata
.packages
.pub/
.vscode/
/build/
/coverage/
/ios/Flutter/Flutter.podspec
/backend/google-apps-script/.clasp.json
/backend/google-apps-script/.clasprc.json
/flutter_*.log
/*.log
/*.orig
*.iml
/tmp/
!/lib/
!/lib/**
